*.iml
.idea/
.gradle
**/target/
**/.settings/
**/.classpath
**/.checkstyle
**/.project
**/.*.swp
*.DS_Store*
**/test-output/
**/.metadata/
.recommenders/
**/.springBeans
**/.factorypath
/bin/
**/bin/
**/.mvn/
.gitignore
/local.properties
.local.properties